@media screen and (max-width:500px){
    .col-m-1{
        width: 50%;
    }
    .col-m-2{
        width: 50%;
    }
    .col-m-3{
        width: 50%;
    }
    .col-m-4{
        width: 50%;
    }
    .col-m-5{
        width: 50%;
    }
    .col-m-6{
        width: 50%;
    }
    .col-m-7{
        width: 50%;
    }
    .col-m-8{
        width: 50%;
    }
    .col-m-9{
        width: 50%;
    }
    .col-m-10{
        width: 50%;
    }
    .col-m-11{
        width: 50%;
    }
    .col-m-12{
        width: 50%;
    }
    .col-m-13{
        width: 50%;
    }
    .col-m-14{
        width: 50%;
    }
    .col-m-15{
        width: 50%;
    }
    .col-m-16{
        width: 50%;
    }
    .col-m-17{
        width: 50%;
    }
    .col-m-18{
        width: 50%;
    }
}
@media screen and (max-width:900px){
    .col-b-1{
        width: 50%;
    }
    .colb-2{
        width: 50%;
    }
    .col-b-3{
        width: 50%;
    }
    .col-b-4{
        width: 50%;
    }
    .col-b-5{
        width: 50%;
    }
    .col-b-6{
        width: 50%;
    }
    .col-b-7{
        width: 50%;
    }
    .col-b-8{
        width: 50%;
    }
    .col-b-9{
        width: 50%;
    }
    .col-b-10{
        width: 50%;
    }
    .colb-11{
        width: 50%;
    }
    .col-b-12{
        width: 50%;
    }
    .col-b-13{
        width: 50%;
    }
    .col-b-14{
        width: 50%;
    }
    .col-b-15{
        width: 50%;
    }
    .col-b-16{
        width: 50%;
    }
    .col-b-17{
        width: 50%;
    }
    .col-b-18{
        width: 50%;
    }
}
